main {
    padding-top: 65px;
}

h2 {
    font-size: 34px;
    text-decoration: underline;
    color: thistle;
    padding: 15px;
}

p {
    color: thistle;
    font-size: 18px;
}

#andrewPhoto {
    width: 100px;
    height: auto;
    float: left;
    padding-left: 5px;
    padding-right: 0px;
}

#andrewContent {
    position: absolute;
    padding-left: 110px;
}

#jasPhoto {
    position: absolute;
    left: 0px;
    top: 400px;
    width: 100px;
    height: 100px;
   
    padding-left: 5px;
    padding-right: 0px;
}

#jasonContent {
    position: absolute;
    padding-left: 110px;
    top: 400px;
}