main {
    padding-top: 150px;
}

h2 {
    font-size: 34px;
    text-decoration: underline;
    color: thistle;
    padding: 15px;
}

p {
    color: thistle;
    font-size: 18px;
}

#andrewPhoto {
    width: 100px;
    height: auto;
    float: left;
    padding-left: 5px;
    padding-right: 0px;
}

#andrewContent {
    position: absolute;
    padding-left: 110px;
}

nav {
    padding: 15px 0px;
}