#wotc {
    position: absolute;
    text-align: center;
    width: 1300px;
    top: 95px;
    left: 25px;
    z-index: 0;
}

#quizone {
    position: absolute;
    top: 100px;
    left: 85px;
    height: 210px;
    width: 1200px;
   background-color: crimson;
   opacity: .9;
   z-index: 50;
}
#quizone img{
    z-index: 100;
}

#quiztwo {
    position: absolute;
    top: 340px;
    left: 85px;
    height: 1000px;
    width: 385px;
    background-color: darkgrey;
    opacity: .9;
    z-index: 50;
}
#quiztwo img{
    z-index: 100;
}

#quizthree {
    position: absolute;
    top: 340px;
    height: 310px;
    left: 480px;
    width: 390px;
    background-color: lightblue;
    opacity: .9;
    z-index: 50;
}
#quizthree img{
    z-index: 100;
}
