
#button {
    position: relative;
    top: -80px;
    /* right: 400px;
    left: 400px; */
}

#characterlist {
    display: inline-block;
    width: 600px;
    margin: 20px 0px;
    padding: 15px 0px;
    background-color: rgb(29, 79, 240);
    opacity: 0.6;
    font-weight: bolder;
    text-align: center;
    border-radius: 25px;
    
}

li {
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}

:link {
    color: white;  
}

:visited {
    color: black;
}

nav {
    padding: 15px 0px;
}