* {
    /* outline: 0.5px solid white; */
}

main {
    padding-top: 120px;
}

.pageLinks {
    text-decoration: underline;
    color: lightskyblue;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
}

.linkContent {
    color: lightskyblue;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
}

:link {
    color: lightskyblue;
}

:visited {
    color: lightslategray;
}

li {
    margin: 0px 0px 0px 0px;
}


main div {
    margin: 25px 0px;
    text-align: left;
    padding-left: 75px;
}

li p {
    text-align: left;
    padding-left: 50px;
}

nav {
    padding: 15px 0px;
}