
header, footer {
    color:rgb(12, 12, 12);
    position: fixed;
    width: 100%;
    background-color: rgb(59, 56, 241);
    left: 0;
    height: 70px;
}
  
header {
    top: 0;
    z-index: +1;
}

header h1 {
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}

footer{
    bottom: 0;
}

body {
    text-align: center;
    background-color: black;
    background-image: url("https://pre00.deviantart.net/2f79/th/pre/i/2014/188/7/0/black_dragon_tempest_by_peterprime-d7pom10.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#mainimage {
    position: relative;
    top: 150px;
    width: 600px;
    text-align: center;
}

#footerimage {
    position: relative;
    top: 155px;
    width: 600px;
    text-align: center;
}

#navLinks {
    font-weight: bolder;
    font-size: 16px;
}

#home {
    padding-left: 40px;
    padding-right: 40px;
    color: black;
}

#newCharacter {
    padding-left: 40px;
    padding-right: 40px;
    color: black;
}

#existCharacter {
    padding-left: 40px;
    padding-right: 40px;
    color: black;  
}

#links {
    padding-left: 40px;
    padding-right: 40px;
    color: black;
}

#aboutUs {
    padding-left: 40px;
    padding-right: 40px;
    color: black;
}